@using MicroServicesTemplate.Web.Client.Features.Common.Components
@inherits LayoutComponentBase

@* <section class="hero is-fullheight is-default is-bold">
    <div class="hero-head">

    </div>
</section> *@
<NavMenu />

<div class="container">
    @Body
</div>

<Footer />

@code {

}
